.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0;
    padding: 0 10%;
    background: $background;
    border-bottom: 1px solid $line;

    transition: 0.5s cubic-bezier(0.12, 0.64, 0.54, 1.01);

    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 50;
    
    .links {
        vertical-align: center;
    }
    
    img {
        height: 40px;
        padding: 10px 0;
        
        vertical-align: middle;
        
        transition: 0.5s cubic-bezier(0.12, 0.64, 0.54, 1.01);
        
    }
    
    a{
        padding: 6px;
        margin-left: 6px;
        border-radius: 50px;
        display:inline-block;
        font-size: 30px;
        line-height: 30px;
        color:white;
        width: 30px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        
        transition: 0.5s cubic-bezier(0.12, 0.64, 0.54, 1.01);
        

        &:hover {
            background-color: rgba(white, 0.1);
        }
    }
    
    menu {
        height: 100px;
        width: 50px;
        background-color: $background;
        border: 1px solid $line;
        border-radius: 10px;
    }
    
    .material-icons {
        text-align: center;
        margin: 0 auto;
    }
    
    input {
        margin-right: 12px;
        color: white;
        height: 20px;
        border: 1px solid $line;
        background-color: $background;
        border-radius: 20px;
        padding: 5px 15px ;
        outline: none;
        width: 100px;
        transition: 300ms cubic-bezier(0.1, 0.69, 0.6, 0.96);
        
        &:focus {
            border: 1px solid $primary;
            background-color: $foreground;
            width: 200px;
        }
    }

    &.first {
        background: linear-gradient(rgba(black, 0), transparent);
        border: none;
        height: 80px;

        transition: 0.3s ease;


        img {
            height: 60px;
            transition: 0.3s ease;
        }

        a {
            opacity: 0.3;
            transition: 0.3s ease;

            
            &:hover{
                opacity: 1;
            }
        }

        &.scrolled {
            background: linear-gradient(rgba(black, 0.5), transparent);
            height: 50px;

            img {
                height: 40px;
            }

            a {
                opacity: 1;
            }
        }
    }
}