.not-found {
    h2 {
        font-size: 50px;
        color: red;
        border-bottom: 1px solid $line;
        padding-bottom: 20px;
    }

    &--p {
        border-radius: 5px;
        color: $primary;
        text-decoration: none;
        font-weight: 600;
    }
}